body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fcfafa;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 24px;
}

.calendar-controls {
    margin-bottom: 20px;
}

select, input {
    padding: 5px;
    font-size: 14px;
    border-radius: 3px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f6f5f5;
}

.cell {
    padding: 5px;
    border: 1px solid #ccc;
    background-color: white;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.green {
    padding: 5px;
    border: 1px solid #ccc;
    background-color: green;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dayCell{
    background-color: #ccc;
    
}

/* input[type=number] {
  -moz-appearance: textfield;
} */